<h2>{{ 'Order status changed' | t }}</h2>
<h3>{{ 'Invoice details' | t }}</h3>
<p>
  {%  if message.data.first_name %}
    <b> {{ 'First name' | t }} </b> : {{ message.data.first_name }} <br>
  {% endif %}
  {%  if message.data.last_name %}
    <b> {{ 'Last name' | t }} </b> : {{ message.data.last_name }} <br>
  {% endif %}
    <b> {{ 'Invoice Email' | t }} </b> : {{ message.data.invoice_email }} <br>
  {%  if message.data.invoice_address %}
    <b> {{ 'Invoice address' | t }} </b> : {{ message.data.invoice_address }}
  {% endif %}
</p>
